# IntelliJ IDEA IDE files
.idea/
*.iml
*.iws

# Exclude Visual Studio Code files
.vscode

# Exclude compiled output
out/
build/
target/
releases/

# Ignore all files in DEBUG (containing the debug paper server)
**/DEBUG/
/dependency-reduced-pom.xml
